{% extends "layout.html" %}
{% block content %}

    <article class="media content-section">
        <img src="https://pbs.twimg.com/media/Cyn7bdlW8AAr9uC.jpg" style="float:left;width:600px;">
    </article><br>

    <article class="media content-section">
        <h2>It's not about how big your placard is, it's about how long you can keep it up!</h2>
    </article><br>

    <article class="media content-section">
        <img src="https://images.squarespace-cdn.com/content/v1/52d08744e4b0c27f1c76bc3a/1479075148741-I5FPD1M9RICE38WZ3OWW/ke17ZwdGBToddI8pDm48kHYTjD6CZ5FUMrQIIotemQtZw-zPPgdn4jUwVcJE1ZvWQUxwkmyExglNqGp0IvTJZamWLI2zvYWH8K3-s_4yszcp2ryTI0HqTOaaUohrI8PI-FOo-L7XF8Uf1li7K5BTOtWuYoV_NrCcDHG1IjbNM5gKMshLAGzx4R3EDFOm1kBS/image-asset.jpeg?format=750w" style="float:left;width:600px;">
    </article><br>

    <article class="media content-section">
        <h2>U.N. I belong together.</h2>
    </article><br>

    <article class="media content-section">
        <img src="https://images.squarespace-cdn.com/content/v1/52d08744e4b0c27f1c76bc3a/1479074842239-DYXSHOEVAQVBP5UMIAO6/ke17ZwdGBToddI8pDm48kCNO_Hdi2TU7PQM8NAXlZvpZw-zPPgdn4jUwVcJE1ZvWQUxwkmyExglNqGp0IvTJZUJFbgE-7XRK3dMEBRBhUpzKdRsXnZOGbOBQX3dezS5CvlYGw_u8U4rkGJbAW5H4nsd1J_oa19h1TjI1pJD8EM4/image-asset.jpeg?format=750w" style="float:left;width:600px;">
    </article><br>

{% endblock content %}
