{% extends "layout.html" %}
{% block content %}
    <h1>Useful Resources</h1><br>

    <h6>When researching and writing position papers, focus on:</h6>
    <ul>
        <li>Country Profile: general info about the country's history, culture, politics, geography</li>
        <li>Topic Background: learn about what experts have said about the topics in the background guide</li>
        <li>Past International Action: learn about what has already been done to solve the problem and what you country has contributed</li>
        <li>Country Policy: learn about your country's views on the topics listed in the background guide</li>
        <li>Possible Solutions: solutions to the issue (if any) would your country support or propose (creativity is key!)</li>
    </ul><br>

    <h6>A great place to start: U of T's SSICsim 2017 Delegate Handbook</h6>
    <p>https://bit.ly/3grpBx9</p><br>

    <h6>MUN tips, tricks and strategy:</h6>
    <p>https://bestdelegate.com</p><br>

    <h6>Must-read article about how to write resolutions:</h6>
    <p>https://bestdelegate.com/model-un-made-easy-how-to-write-a-resolution/</p><br>

    <h6>An amazing YouTube channel to begin research about a country:</h6>
    <p>https://www.youtube.com/user/GeographyNow</p><br>

    <iframe width="640" height="320"
    src="https://www.youtube.com/embed/KJoxVQTe32w">
    </iframe>
    <br>

{% endblock content %}
