{% extends "layout.html" %}
{% block content %}
    <h1>Testimonials</h1><br>

    <article class="media content-section">
        <div class="media-body">
            <h6 class="article-title">Sadie Tremblay (BCIMUN Class of 2019, University of Dunby Class of 2023)</h6>
            <p class="article-content">
                "Model UN was an important touchstone of my high school experience. As you get older and move towards post-secondary education, it’s easy to get pushed into a specific field and everything becomes about honing your knowledge of that particular craft. For me, that was life sciences. BCIMUN was an outlet for me to explore other interests. Personally, it was something I did for myself as a bit of a midday Monday break. Taking that sort of time out of my schedule for other activities that weren’t just sitting around in my dorm is a lesson I’ve carried from high school into my university life. Thanks, BCIMUN, for making me a truly global citizen!"
            </p>
        </div>
    </article>

    <article class="media content-section">
        <div class="media-body">
            <h6 class="article-title">Blaise Matlock (BCIMUN Class of 2018, University of British Columbia Class of 2022)</h6>
            <p class="article-content">
                "BCIMUN was honestly one of the best parts of my high school experience. I got to make awesome friends, go on cool trips, and improve my self-confidence and public speaking skills. Try it out!"
            </p>
        </div>
    </article>

{% endblock content %}
